################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/chapter01_DuckSimulator/bin/Debug
/chapter01_DuckSimulator/bin/Debug
/chapter01_DuckSimulator/obj
/chapter02_WeatherStation/bin/Debug
/chapter02_WeatherStation/obj
